.App{
  margin-left: 10px;
  /* width: 24vw;  */
  width: 24vw;
}


.row {
  box-sizing: border-box;
}

.col-25 {
  float: left;
  width: 55%;
  margin-top: 8px;
}

.col-75 {
  float: left;
  width: 45%;
  margin-top: 10px;
  color: red;
  font-size: 12px;
}

.submit-button{
  margin-top:15px;
  /* float:right; */
  color: #fff;
  border: none;
  border-radius: 12px;
  background: #00B288;
  height: 30px;
  width: 100px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
}

